%h1= @pic.title if @pic.present?
%p= @pic.description if @pic.present?

= link_to "Back", root_path
= link_to "Edit", edit_pic_path
= link_to "Delete", pic_path, method: :delete, data: {confirm: "Are you sure?" }